*{
  font-family: sans-serif;
}

section{
}

#title {
  width: 100%;
  margin-bottom: 1em;
  h2 {
    font-family: dealers;
    text-align: center;
    font-size: 50px;

  }
}


.margin1em{
  margin: 1em;
}

#chefsChoice{
  padding:1em;
  h3{
    margin-top: 1em;
  }
}



#dinner{
  max-width: none;
  height: 100%;
  width: 100%;
  //Tog bort underline
  h3{
    font-family: dealers;
    text-align: center;
  }
  //På rät väg
  ul{
    list-style-type: none;
    li{
      text-align: center;
      h5{
        font-weight: bold;
      }
    }
  }
}

#dinnerBottom{
  line-height: 100%;
  width: 100%;
  margin: 0;
  div {
    padding: 1em;
  }

}

#dinnerMenu{
  max-width: none;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("src/assets/images/restaurant_1920x1280.jpg");

  h3{
    font-family: dealers;
    text-align: center;
  }
  ul{
    list-style-type: none;
    li{
      text-align: center;
      h5 {
        font-weight: bold;
      }
    }
  }
}


#dinner-image{
  background-image: url("src/assets/images/lax4.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  //min-width: 800px;

}

//La en font som ser najs för text
.kockensVal{
  font-family: 'Nunito', sans-serif;
}

#menuButton {
  position: absolute;
  right:    0;
  bottom:   0;
}

#bookButton {
  position: absolute; 
  bottom: 0;  
}