<section id="dinnerSection" class="nomargin nopadding">
    <div id="dinner" class="container-fluid nopadding nomargin parchementBackground">
      <div id="title" class=" nopadding nomargin">
        <h1 class="nomargin nopadding">Kvällsmeny</h1>
      </div>
        <div class="row nomargin nopadding">
          <div id="dinner-image" class="col-sm nopadding nomargin">
          </div>
          <div id="chefsChoice" class=" col nopadding nomargin">
            <h2 class="text-center">{{menu[0].title}}</h2>
            <ul *ngIf="menu" class="nopadding">
              <li *ngFor="let item of menu[0].dishes" class="kockensVal">
                <h3>{{item.title}}</h3>
                <p>{{item.description}}</p>
              </li>
            </ul>
            <button id="menuButton" class="btn btn-secondary float-right" data-toggle="collapse" data-target="#dinnerMenu" aria-expanded="false" aria-controls="dinnerMenu">Visa menyn</button>
          </div>
        </div>
    </div>
    <div  class="container nopadding nomargin">

    </div>


    <div id="dinnerMenu" *ngIf="menu" class="container mx-auto collapse">
      <div *ngFor="let item of menu | slice:1; let i = index" class="row" >
        <div *ngIf="i%2==0" class="col parchementBackground menuItems">
          <h2>{{item.title}}</h2>
          <ul class="nopadding">
            <li *ngFor="let dish of item.dishes">
              <h3>{{dish.title}}</h3>
              <p>{{dish.description}}</p>
            </li>
          </ul>
        </div>
        <div *ngIf="i%2==0" class="col-sm menuImages" [style.backgroundImage]="'url('+item.pictureUrl+')'">

        </div>

        <div *ngIf="i%2!=0" class="col-sm menuImages" [style.backgroundImage]="'url('+item.pictureUrl+')'">

        </div>
          <div *ngIf="i%2!=0" class="col parchementBackground menuItems">
            <h2>{{item.title}}</h2>
            <ul class="nopadding">
              <li *ngFor="let dish of item.dishes">
                <h3>{{dish.title}}</h3>
                <p>{{dish.description}}</p>
              </li>
            </ul>
          </div>
        </div>





    <!--<div class="row">
        <div class="col bg-white  parchementBackground">
        <h3 class="">{{menu[1].title}}</h3>
        <ul class="nopadding">
            <li *ngFor="let item of menu[1].dishes">
              <h5>{{item.title}}</h5>
              <p>{{item.description}}</p>
            </li>
        </ul>
        </div>
        <div class="col bg-white  parchementBackground">
          <h3 class="">{{menu[2].title}}</h3>
          <ul class="nopadding">
            <li *ngFor="let item of menu[2].dishes">
              <h5>{{item.title}}</h5>
              <p>{{item.description}}</p>
            </li>
          </ul>
        </div>
    </div>
    <div class="row">
        <div class="col bg-white  parchementBackground">
          <h3 class="">{{menu[3].title}}</h3>
          <ul class="nopadding">
            <li *ngFor="let item of menu[3].dishes">
              <h5>{{item.title}}</h5>
              <p>{{item.description}}</p>
            </li>
          </ul>
        </div>
        <div class="col bg-white  parchementBackground">
          <h3 class="">{{menu[4].title}}</h3>
          <ul class="nopadding">
            <li *ngFor="let item of menu[4].dishes">
              <h5>{{item.title}}</h5>
              <p>{{item.description}}</p>
            </li>
          </ul>
        </div>
    </div>-->
    </div>
</section>

