*{
  font-family: sans-serif;
}


#dinner{
  max-width: none;
  //Tog bort underline
  h3{
    font-family: dealers;
    text-align: center;
  }
  //På rät väg
  ul{
    list-style-type: none;
    li{
      text-align: center;
    }
  }
}

#dinnerMenu{
  max-width: none;
  h3{
    font-family: dealers;
    text-align: center;
    text-decoration: underline;
  }
  ul{
    list-style-type: none;
    li{
      text-align: center;
    }
  }
}
#dinnerBottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;

}

#bookButton{
  width: 10em;
  margin-right: 1em;
}
#menuButton{
  display: block;
  align-self: flex-end;
}

#dinner-image{
  background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  min-height: 800px;
  min-width: 800px;
  background-image: url("src/assets/images/reindeerstew.jpg");
}

//La en font som ser najs för text
.kockensVal{
  font-family: 'Nunito', sans-serif;
}
