*{
  font-family: sans-serif;
}
h1 {
  font-family: dealers;
  text-align: center;
}

h2{
  font-family: dealers;
  text-align: center !important;
  width: 100%;
  height: initial;
}

ul{
  list-style-type: none;
  width: 100%;
  li{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    h3{
      font-weight: bold;
    }
  }
}

.background-image{
  background-image: url("src/assets/images/lax5.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menuItems{
  min-height: 500px;
  h2{
    margin-top: 0.5em;
  }

  -webkit-box-shadow: 14px 13px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 13px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 14px 13px 9px 0px rgba(0,0,0,0.75);
  background-image: url("src/assets/images/paper_menu_1059x1317_rotate.jpg");
}

.menuImages{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.minHeight{
  min-height: 500px;
}


#title {
  width: 100%;
  margin-bottom: 1em;

}

#chefsChoice{
  min-height: 500px;
  h2{
    margin-top: 0.5em;
  }
  padding:1em;
}

#dinner{
  max-width: none;
  height: 100%;
  width: 100%;
}

#menuButton{
  box-shadow: none;
  border: 2px solid black;
  background-color: darkslategray;
}

#dinnerBottom{
  line-height: 100%;
  width: 100%;
  margin: 0;
  div {
    padding: 1em;
  }

}

#dinnerMenu{
  max-width: none;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("src/assets/images/restaurant_1920x1280.jpg");
}

#bookButton{
  background-color: rgba(0,0,0,0.1);
  font-family: Dealers;
  color: black;
  font-size: 3em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  transition: background-color 0.5s;
  box-shadow: none;
}

#bookButton:hover{
  background-color: rgba(0,0,0,0.5);
}

#bookButton:active{
  outline: none;
}
#bookButton:focus{
  outline: none;
}
