#lunch {
    max-width: none;
    width: 100%;
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    min-height: 850px; 
    background-image: url("src/assets/images/restaurant_picture_2_1920x1080.jpg");

}

.card {
    background-image: url("src/assets/images/paper_menu_1059x1317.jpg");
	background-size: cover;
}

ul li {
    list-style-type: none;
}

#lunch-header {
    text-align: center;
    font-family: dealers;
<<<<<<< HEAD
    color: black;
    font-size: 50px;
=======
    color: white;
    font-size: 50px;
    /*font-size: 4.9vw; Dynamic text size*/
}

img {
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}

ul {
    list-style-type: none;
>>>>>>> f4baa03b1d81fad086b26367676c7b22cbbe7e02
}

#lunch-header-div {
    background-image: url("src/assets/images/lunch_header_bakgrund_708x146.jpg");
    background-size: cover;
    
}

.lunch-type {
    font-weight: bold;
    width: 100%;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 20px;
<<<<<<< HEAD
=======
    /*font-size: 1.4vw; Dynamic text size*/
>>>>>>> f4baa03b1d81fad086b26367676c7b22cbbe7e02
}

.lunch-name {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none;
    font-family: sans-serif;   
<<<<<<< HEAD
    font-size: 14px;
=======
    font-size: 15px;
    /*font-size: 1.295vw;  Dynamic text size*/
>>>>>>> f4baa03b1d81fad086b26367676c7b22cbbe7e02
}

.dealer-font {
    font-family: dealers;
}

.lunch-menu-day {
    text-align: center;
<<<<<<< HEAD
    font-size: 35px;
}
=======
    font-size: 40px;
    /*font-size: 3.5vw; Dynamic text size*/
}
>>>>>>> f4baa03b1d81fad086b26367676c7b22cbbe7e02
