/*
CSS for Daily lunch chalkboard and the div with the restaurant backgrund for the daily lunch
*/

#top-div {
    min-width: 100%;
    height: 100%;
    display: grid;
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    min-height: 850px;
    background-image: url("src/assets/images/restaurant_1920x1280.jpg")
}

//"Dagens lunch" header text for the chalkboard
.card-header {
    border: none;
    font-family: chalk;
    text-align: center;
    color: white;
}

//Removes the tiny white border around the cards
.card {
    border: none;

}

.white-power { //Nu funkar det fan
    color: white;
}

//The column which the chalkboard card is in
#daily-lunch-column {
    max-width: 600px;
    padding-top: 5em;
    padding-bottom: 2em;
}

//The h3's and p's on the chalkboard with the type and description of the lunch
#daily-lunch-text {
    padding: 1.5em;
    font-family: chalk2;
    font-weight: normal !important;
}

//The card-body for the chalkboard with background and frame
#daily-lunch-board {
    background-image: url("src/assets/images/griffeltavelbakgrund_570x600.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border: 1.5em solid transparent;
    border-image: url("src/assets/images/woodframe_1199x742.png") 70 round;

}

/*
CSS for Weekly lunchmenu and the div with the restaurant backgrund for the weekly lunch + header
*/

//Container for the weekly lunch section
#lunch {
    min-height: 850px;
    max-width: none;
    width: 100%;
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-image: url("src/assets/images/restaurant_picture_2_1920x1080.jpg");
}

.lunch-day-background {
    background-image: url("src/assets/images/paper_menu_2_1752x1378.jpg");
    background-size: cover;
    min-height: 250px;
}

//Remove the dots from the styling on the lists
ul {
    li {
        list-style-type: none;
    }
}

//h2 is the weekday headers
h2 {
    font-family: dealers;
    text-align: center;
}

//h1 is "Veckans Lunch"
h1 {
    text-align: center;
    font-family: dealers;
}

//h3 is the type of food, i.e. "Fisk, Dagens Pasta"
h3 {
    font-weight: bold;
    width: 100%;
}

//p is the description of the food
p {
    margin: 0 !important;
    padding: 0 !important;
}
