
<!--Lunchcontainer with cards for each day-->
<div id="lunch" class="container nopadding bg-dark">
    
    <div class="mx-auto">
        <h2 id="lunch-header" class="dealer-font">Veckans Lunch</h2>
    </div>


    <div class="card-columns">
        <div class="card">
            <div class="card-body p-3">
                <h5 class="card-title dealer-font lunch-menu-day">Måndag</h5>
                <p class="card-text">
                <ul>
                    <li class="lunch-alternatives">Vegetariskt:</li>
                    <li class="lunch-description text-secondary">Grön Sparrissoppa</li>
                    <li class="lunch-alternatives">Fisk:</li>
                    <li class="lunch-description text-secondary">Panerad rödspetta med skagenröra</li>
                    <li class="lunch-alternatives">För köttälskare:</li>
                    <li class="lunch-description text-secondary">Kycklingfilé med champinjonsås och stekt potatis</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title dealer-font lunch-menu-day">Tisdag</h5>
                <p class="card-text">
                <ul>
                    <li class="lunch-alternatives">Vegetariskt:</li>
                    <li class="lunch-description text-secondary">Lax & spenatsoppa</li>
                    <li class="lunch-alternatives">Fisk:</li>
                    <li class="lunch-description text-secondary">Spagetti bolognaise</li>
                    <li class="lunch-alternatives">För köttälskare:</li>
                    <li class="lunch-description text-secondary">Stekt fläsk med löksås</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title dealer-font lunch-menu-day">Onsdag</h5>
                <p class="card-text">
                <ul>
                    <li class="lunch-alternatives">Vegetariskt:</li>
                    <li class="lunch-description text-secondary">Clam Showder på "Antons vis, med extra fis" med aioli</li>
                    <li class="lunch-alternatives">Fisk:</li>
                    <li class="lunch-description text-secondary">Örtbakad torskfilé med gratinerad potatismos</li>
                    <li class="lunch-alternatives">För köttälskare:</li>
                    <li class="lunch-description text-secondary">Pastagratäng med rökt kassler purjolök och cocktailtomater</li>
                </ul>
            </div>
        </div>

        <div class="card p-3">
            <div class="card-body">
                <h5 class="card-title dealer-font lunch-menu-day">Torsdag</h5>
                <p class="card-text">
                <ul>
                    <li class="lunch-alternatives">Vegetariskt:</li>
                    <li class="lunch-description text-secondary">Ärtsoppa med pannkakor, grädde & sylt.</li>
                    <li class="lunch-alternatives">Fisk:</li>
                    <li class="lunch-description text-secondary">Laxpudding med skirat smör och lingonsylt</li>
                    <li class="lunch-alternatives">För köttälskare:</li>
                    <li class="lunch-description text-secondary">Kalops på högrev kokt potatis och rödbetor</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title dealer-font lunch-menu-day">Fredag</h5>
                <p class="card-text">
                <ul>
                    <li class="lunch-alternatives">Vegetariskt:</li>
                    <li class="lunch-description text-secondary">Antons Rövhål</li>
                    <li class="lunch-alternatives">Fisk:</li>
                    <li class="lunch-description text-secondary">Fish and chips med remouladsås</li>
                    <li class="lunch-alternatives">För köttälskare:</li>
                    <li class="lunch-description text-secondary">Lammfärsbiffar med potatisgratäng och stekt brysselkål</li>
                </ul>
            </div>
        </div>
        

        
    </div>
</div>
