<form id="form">
  <div id="dateTime">
    <mat-form-field>
      <input id="datePicker"  matInput [matDatepicker]="picker" (dateChange)="dateChange($event.value)" placeholder="Välj datum">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Välj Tid</mat-label>
      <mat-select (selectionChange)="timeChange($event.value)">
        <mat-option value="Välj Tid">Välj Tid</mat-option>
        <mat-option value="16:30">16.30</mat-option>
        <mat-option value="17:00">17:00</mat-option>
        <mat-option value="17:30">17:30</mat-option>
        <mat-option value="18:00">18:00</mat-option>
        <mat-option value="18:30">18:30</mat-option>
        <mat-option value="19:00">19:00</mat-option>
        <mat-option value="19:30">19:30</mat-option>
        <mat-option value="20:00">20:00</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <p id="noTables">Det finns inga bord tillgängliga detta datum</p>
  <div id="mainForm">
    <mat-form-field>
      <input (input)="customerEmail=$event.target.value" matInput placeholder="Epost" [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">Skriv in en giltg mailadress</mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">Email krävs</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input (input)="customerFirstName=$event.target.value" matInput placeholder="Förnamn" [formControl]="nameFormControl">
      <mat-error *ngIf="nameFormControl.hasError('required')">Förnamn krävs</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input (input)="customerLastName=$event.target.value" matInput placeholder="Efternamn" [formControl]="lastNameFormControl">
      <mat-error *ngIf="lastNameFormControl.hasError('required')">Efternamn krävs</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="number" inputmode="numeric" pattern="[0-9]*" digitOnly (input)="customerPhone=$event.target.value" matInput placeholder="Telefonnummer" [formControl]="phoneFormControl">
      <mat-error *ngIf="phoneFormControl.hasError('required')">Telefonnummer krävs</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input (input)="sizeOfCompany=$event.target.value" (keyup)="amountChange($event.target.value)" matInput placeholder="Antal Personer" [formControl]="amountFormControl">
      <mat-error *ngIf="amountFormControl.hasError('required')">Storleken på sällskapet krävs</mat-error>
    </mat-form-field>
  </div>
  <p id="errorText"></p>

  <button class="btn btn-primary" id="button" type="button" label="Click" (click)="onClickMe()">Add reservation!</button>
</form>

<div id="done">
  <p>Tack för din bokning</p>
</div>
