<div>
    <h2>Stuff from database in Database Component</h2>
    <div *ngFor ="let item of items">Name: {{item.name}} @ {{item.bookingDateTime}}</div>
</div>
<form>
    <h1>TestComponent to send Json Whit Database</h1>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input (input)="customerEmail=$event.target.value" type="text" class="form-control" id="customerEmail" name="customerEmail" [(ngModel)]="customerEmail"  placeholder={{customerEmail}}>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Name</label>
            <input (input)="customerName=$event.target.value"  type="text" class="form-control" id="customerName" name="customerName" [(ngModel)]="customerName"  placeholder={{customerName}}>
        </div>
    </div>
</form>
    
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="bookingDate">Bookingdate</label>
        <angular2-date-picker class="form-control" id = "datetimepicker" [(ngModel)]="date" [settings] = "settings" style="padding: 0.2 rem 0.1 rem" ></angular2-date-picker>
    </div>
</div>
{{date}}
{{date | date   : 'yyyy-MM-dd hh:mm' }}

<div>
    <button (click)="onClickMe()">Add reservation!</button>
    {{clickMessage}}
</div>