<!--<div class ="card">
    <div class="form-group">
        <div class="form-group col-md-6" >
            <label>Datum</label>
            <angular2-date-picker class="form-control" id = "datetimepicker" [(ngModel)]="date" [settings] = "settings"></angular2-date-picker>
        </div>
    </div>

    <form>

        <div class="row">
            <div class="col-md-6">
                <label for="inputEmail4">Email</label>
                <input (input)="customerEmail=$event.target.value" type="text" class="form-control" id="customerEmail" name="customerEmail" [(ngModel)]="customerEmail"  placeholder={{customerEmail}}>
            </div>

            <div class="col-md-6">
                <label for="inputText4">Förnamn</label>
                <input (input)="customerName=$event.target.value"  type="text" class="form-control" id="customerFirstName" name="customerFirstName" [(ngModel)]="customerFirstName"  placeholder={{customerFirstName}}>
            </div>

            <div class="clearfix visible-xs-block"></div>

            <div class="col-md-6">
                <label for="inputText4">Efternamn</label>
                <input (input)="customerName=$event.target.value"  type="text" class="form-control" id="customerLastName" name="customerLastName" [(ngModel)]="customerLastName"  placeholder={{customerLastName}}>
            </div>

            <div class="col-md-6">
                <label for="inputText4">Telefonnummer</label>
                <input (input)="customerName=$event.target.value"  type="text" class="form-control" id="customerPhone" name="customerPhone" [(ngModel)]="customerPhone"  placeholder={{customerPhone}}>
            </div>

            <div class="clearfix visible-xs-block"></div>

            <div class="col-md-6">
                <label for="inputText4">Antal personer</label>
                <input (input)="customerName=$event.target.value"  type="text" class="form-control" id="sizeOfCompany" name="sizeOfCompany" [(ngModel)]="sizeOfCompany"  placeholder={{sizeOfCompany}}>
            </div>
            <div class="clearfix visible-xs-block"></div>
        </div>

    </form>

    <div>
        <button class="btn btn-primary" id="button" type="button" label="Click" (click)="onClickMe()">Add reservation!</button>
        {{clickMessage}}

    </div>
</div>-->
<form>
  <div id="dateTime">
    <mat-form-field>
      <input  matInput [matDatepicker]="picker" (dateChange)="dateChange($event.value)" placeholder="Välj datum">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Välj Tid</mat-label>
      <mat-select (selectionChange)="timeChange($event.value)">
        <mat-option value="Välj Tid">Välj Tid</mat-option>
        <mat-option value="16:30">16.30</mat-option>
        <mat-option value="17:00">17:00</mat-option>
        <mat-option value="17:30">17:30</mat-option>
        <mat-option value="18:00">16:00</mat-option>
        <mat-option value="18:30">17:30</mat-option>
        <mat-option value="19:00">17:30</mat-option>
        <mat-option value="19:30">17:30</mat-option>
        <mat-option value="20:00">17:30</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field>
    <input (input)="customerEmail=$event.target.value" matInput placeholder="Epost">
  </mat-form-field>
  <mat-form-field>
    <input (input)="customerFirstName=$event.target.value" matInput placeholder="Förnamn">
  </mat-form-field>
  <mat-form-field>
    <input (input)="customerLastName=$event.target.value" matInput placeholder="Efternamn">
  </mat-form-field>
  <mat-form-field>
    <input (input)="customerPhone=$event.target.value" matInput placeholder="Telefonnummer">
  </mat-form-field>
  <mat-form-field>
    <input (input)="sizeOfCompany=$event.target.value" matInput placeholder="Antal Personer">
  </mat-form-field>

  <button class="btn btn-primary" id="button" type="button" label="Click" (click)="onClickMe()">Add reservation!</button>
</form>
