
nav{
  max-width: 100%;
}

#logo{
  display: inline-block;
  height: 4em;
  width: 5em;
  margin-top: -20px;
  background-size: cover;
  background-image: url("src/assets/images/AntonsLogo.png");
}
