<nav id="mainNavbar" class="navbar navbar-light navbar-expand-md">
  <a href="#" class="navbar-brand"><img *ngIf="image"  [src]="image" class="m-0 p-0" height="75"></a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#lunchSection" class="nav-link">LUNCH</a>
      </li>
      <li class="nav-item">
        <a href="#dinnerSection" class="nav-link">MENY</a>
      </li>
      <li class="nav-item">
        <a href="#eventsSection" class="nav-link">EVENT</a>
      </li>
    </ul>
  </div>
</nav>
