#header-img {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    min-height: 500px; 
    background-image: url(http://localhost:8080/images?folder=website&image=restaurant_1920x1280.jpg);
}
