/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap-scss";

.nopadding {
    padding: 0 !important;

 }

.nomargin{
  margin: 0 !important;
}

.parchementBackground{
  background-image: url("src/assets/images/paper_menu_1059x1317.jpg");
  background-size: cover;
}


 @font-face {
    font-family: dealers;
    src: url(assets/Fonts/dealers.otf) format("opentype");
  }


.dealers{
  font-family: dealers;
}
