<section id="footerSection">
    <div id="footer" class="row nopadding nomargin">

        <div id="footer-left-block" class="col-xs-6 col-lg-4">
            <h1 id="opening-hours">Öppettider</h1>
            <div id="days-div">
                <ul>
                    <li>
                        Mån-Tors 
                    </li>
                    <li>
                        Fredag 
                    </li>
                    <li>
                        Lördag 
                    </li>
                    <li>
                        Söndag 
                    </li>
                </ul>
            </div>
            <div id="times-div">
                <ul>
                    <li>
                        10-20
                    </li>
                    <li>
                        10-24
                    </li>
                    <li>
                        10-24
                    </li>
                    <li>
                        Stängt 
                    </li>
                </ul>
            </div>
        </div>

        <div id="footer-middle-block" class="col-xs-6 col-lg-4 nopadding nomargin">
            <a href="https://www.google.com/maps/dir//Storgatan+54,+852+30+Sundsvall/@62.3925746,17.2915521,17z/data=!4m17!1m7!3m6!1s0x4664675f625cc1d7:0x5e05935e67b9c101!2sStorgatan+54,+852+30+Sundsvall!3b1!8m2!3d62.3925746!4d17.2937409!4m8!1m0!1m5!1m1!1s0x4664675f625cc1d7:0x5e05935e67b9c101!2m2!1d17.2937408!2d62.3925746!3e1" target="_blank" id="directions-button" type="button" class="btn btn-primary">Vägbeskrivning</a>
        </div>

        <div id="footer-right-block" class="col-xs-6 col-lg-4">
            <h1 id="contact-header">Kontakt</h1>
            <h2>Telefon</h2>
            <p>060-61 47 20</p>
            <h2>E-post</h2>
            <p>antonsskafferi@gmail.com</p>
            <h2>Address</h2>
            <p>Storgatan 54, 852 30</p>
        </div>

    </div>
</section>
